.bsb.lock
.DS_Store
.merlin
.vscode-test
*.vsix
*~
_esy/
dist/
lib/
node_modules/
.log/
*.bs.js
.vscode/settings.json
# src/sexp.ml - since we couldn't get ocamllex.opt in the esy sandbox to produce it. TODO
