# ocamlbuild working directory
_build/

# Local OPAM switch
_opam/

# esy
tests/fixtures/sample-esy/_esy/
tests/fixtures/sample-esy/esy.lock/

# Normal npm stuff
.vscode-test/
.yarn/
dist/
node_modules/
