__tests__/
_build/
_esy/
_opam/
.vscode/
.github/
esy.lock/
fixtures/
lib/
node_modules/
src/
test/

.gitignore
.merlin
**/*.map
azure-pipelines.yaml
esy.json
Makefile

!_build/default/src/vscode_ocaml_platform.bc.js

!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
