_build/
_esy/
_opam/
.editorconfig
.git/
.github/
.gitignore
.ocamlformat
.ocamlformat-ignore
.prettierignore
.prettierrc.json
.vscode-test/
.vscode/
.vscodeignore
.yarnclean
default.nix
dune
dune-project
esy.json
esy.lock/
fixtures/
Makefile
nix/
node_modules/
shell.nix
src/
test/
vscode-ocaml-platform.opam
vscode.opam
vscode/
yarn.lock
