__tests__/
_esy/
.vscode/
esy.lock/
fixtures/
lib/
node_modules/
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
src/
test/

**/*.map
.gitignore
.merlin
azure-pipelines.yaml
bsconfig.json
esy.json
Makefile
webpack.config.js
