name: Builds, tests & co

on:
  - push
  - pull_request

permissions: read-all

jobs:
  build-and-test:
    permissions:
      attestations: write
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5
          dune-cache: true

      - name: Set-up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          check-latest: true

      - run: corepack enable

      - name: Install dependencies
        run: |
          yarn install --immutable
          opam install . --deps-only --with-test

      - name: Run Biome checks
        run: yarn lint

      - name: Build extension
        run: opam exec -- make build-release

      - name: Package extension
        run: yarn package

      - name: Generate artifact attestation
        if: startsWith(github.ref, 'refs/tags')
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: ocaml-platform.vsix

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ocaml-platform-${{ github.sha }}
          path: ocaml-platform.vsix

      - name: Test extension
        run: xvfb-run -a yarn test

      - name: Publish extension to VSCode Marketplace
        if: startsWith(github.ref, 'refs/tags')
        continue-on-error: true
        run: yarn deploy:vsce
        env:
          VSCE_PAT: ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}

      - name: Publish extension to Open VSX Registry
        if: startsWith(github.ref, 'refs/tags')
        continue-on-error: true
        run: yarn deploy:ovsx --pat "$OVSX_PAT"
        env:
          OVSX_PAT: ${{ secrets.OPEN_VSX_TOKEN }}

      - name: Create release
        if: startsWith(github.ref, 'refs/tags')
        continue-on-error: true
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: ocaml-platform.vsix

  lint-opam:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v4
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5
      - uses: ocaml/setup-ocaml/lint-opam@v3

  lint-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v4
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5
      - uses: ocaml/setup-ocaml/lint-fmt@v3
