name: Builds, tests & co

on:
  push:
  pull_request:
  release:
    types:
      - published

permissions: read-all

jobs:
  build-and-test:
    permissions:
      attestations: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v6

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5

      - name: Set-up Mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: |
          yarn install --immutable
          opam install . --deps-only --with-test

      - name: Run biome checks
        run: yarn lint

      - name: Build and package extension
        run: opam exec -- make pkg

      - name: Generate artifact attestation
        if: github.event_name == 'release'
        uses: actions/attest-build-provenance@v4
        with:
          subject-path: ocaml-platform.vsix

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ocaml-platform-${{ github.sha }}
          path: ocaml-platform.vsix

      - name: Test extension
        run: xvfb-run -a yarn test

  lint-opam:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v6
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5
      - uses: ocaml/setup-ocaml/lint-opam@v3

  lint-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v6
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5
      - uses: ocaml/setup-ocaml/lint-fmt@v3

  release:
    if: github.event_name == 'release'
    needs:
      - build-and-test
      - lint-opam
      - lint-fmt
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v6

      - name: Set-up Mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: yarn install --immutable

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: ocaml-platform-${{ github.sha }}

      - name: Publish extension to VSCode Marketplace
        continue-on-error: true
        run: yarn deploy:vsce
        env:
          VSCE_PAT: ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}

      - name: Publish extension to Open VSX Registry
        continue-on-error: true
        run: yarn deploy:ovsx --pat "$OVSX_PAT"
        env:
          OVSX_PAT: ${{ secrets.OPEN_VSX_TOKEN }}

      - name: Upload artifact to GitHub release
        continue-on-error: true
        uses: softprops/action-gh-release@v2
        with:
          files: ocaml-platform.vsix
