name: Builds, tests & co

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - "*"

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
# Concurrent workflows are grouped by the PR or branch that triggered them
# (github.ref) and the name of the workflow (github.workflow). The
# 'cancel-in-progress' option then make sure that only one workflow is running
# at a time. This doesn't prevent new jobs from running, rather it cancels
# already running jobs before scheduling new jobs.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'pull_request' || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          # macos-13 is faster than latest (macos-12)
          - macos-13
          - ubuntu-latest
          # Disabled as discussed in
          # https://github.com/ocamllabs/vscode-ocaml-platform/pull/1106
          # - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set-up OCaml 4.14
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "4.14"
          allow-prerelease-opam: true

      - name: Set-up Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: make deps

      - name: Check linting with Biome
        run: yarn lint

      - name: Check formatting
        run: yarn fmt:check

      - name: Build extension
        run: opam exec -- make build-release

      - name: Package extension
        run: yarn package

      - name: Upload artifact
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v4
        with:
          name: ocaml-platform-${{ github.sha }}
          path: ocaml-platform.vsix

      - name: Test extension on Linux
        if: runner.os == 'Linux'
        run: xvfb-run -a yarn test

      - name: Test extension on macOS
        if: runner.os == 'macOS'
        run: yarn test

      - name: Publish extension to VSCode Marketplace
        if: success() && runner.os == 'Linux' && startsWith(github.ref, 'refs/tags')
        run: yarn deploy:vsce
        env:
          VSCE_PAT: ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}

      - name: Publish extension to Open VSX
        if: success() && runner.os == 'Linux' && startsWith(github.ref, 'refs/tags')
        run: yarn deploy:ovsx --pat "$OVSX_PAT"
        env:
          OVSX_PAT: ${{ secrets.OPEN_VSX_TOKEN }}

      - name: Create release
        if: runner.os == 'Linux' && startsWith(github.ref, 'refs/tags')
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: ocaml-platform.vsix

  lint-opam:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml 4.14
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "4.14"
          allow-prerelease-opam: true

      - name: Lint opam
        uses: ocaml/setup-ocaml/lint-opam@v2

  lint-fmt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set-up OCaml 4.14
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: "4.14"
          allow-prerelease-opam: true

      - name: Lint fmt
        uses: ocaml/setup-ocaml/lint-fmt@v2
